.app{
  background-color: #c8c8e9;
  position: relative;
}

.notification{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color:white;
  left:96%;
  top: 20%;
  box-shadow: 1px 3px 10px black;
  border-radius: 5px;


}



.drop_down{
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height:30px ;
  
}

.headerr{
  /* background-color: aqua; */
  width: 100%;
  position: relative;
}
.mbtn{
  /* margin-left: 300px; */
  /* background-color: white; */
  width: 260px;
  /* margin-top: 40px; */
  position: absolute;
  left: 760px;
  border: 2px solid;
  border-radius: 10px;
}
.btn1{
  border-radius: 10px;
  border-right: none;
  background-color: #e3f1fe;
  width: 130px;
  border: none;

}

.btn2{
  border-radius:10px ;
  margin-left: 6px;
  background-color: white;
  width: 120px;
  border: none;


}



.mbtn span{
  background-color: white;
  font-size: 10px;
  color: green;
}

/* logo */

.img_nav{
  width: 160px;
  height: 40px;
  border-radius: 10px;
}

.nav_profile{
  width: 200px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  height: 30px;
  box-shadow: 1px 3px 10px black;

  

  
}

.main{
  height:94vh;
  width: 1090px;
  background-color:white;
  box-shadow: 1px 3px 10px black;
  border-radius: 2px;


  
}
.main_head{
  margin-left: 50px;
  font-size: 20px;


}

.side_bar{
  height:94vh;
  width: 200px;
  background-color: white;


}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  box-shadow: 3px 3px rgb(228, 232, 233);

}

.main_content{
  width:980px ;
  height: 240px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  
  
}

.box{
  background-color: white;
  width: 290px;
  height: 260px;
  border-radius: 15px;
  font-size: 1px;
  text-align: justify;
  padding-left: 30px;
  margin-top: 15px;
  box-shadow: 1px 3px 10px black;
  
  
}

.main2{
  width: 980px;
  height: 210px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;


}

.box2{
  width: 480px;
  height: 205px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 1px 3px 10px black;


}

.box1{
  width: 480px;
  height: 205px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 1px 3px 10px black;


}
.nav_profile:hover{
  background-color: aquamarine;

}
.icon_hover:hover{
  background-color: aquamarine;
}

.box:hover{
  background-color: #c8c8e9;
}
.box1:hover{
  background-color: #c8c8e9;
}
.box2:hover{
  background-color: #c8c8e9;
}



.b1{
  width: 300px;
  font-size: 14px;

}
.b2{
  width: 220px;
  font-size: 14px;
  padding: 4px;
}

.b3{
  width: 260px;
  font-size: 14px;
}

.b4{
  width: 240px;
  font-size: 14px;
  padding: 5px;
  margin-left: 6px;
  

}

.btnf{
  background-color: #8ae27f;
  width: 90px;
  height:30px ;

  border: none;
  border-radius: 10px;
  font-size: 13px;
}

.btnf1{
  background-color: #586bbd;
  width: 90px;
  height:30px ;

  border: none;
  border-radius: 10px;
  font-size: 13px;
}

.LOgout{
  display: none;
}







/* mobile */
@media(max-width:600px){
  .nav_profile{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 30px;
    
    
  }
  .side_bar{
    height: 500px;
    width: 200px;
    background-color: red;
    display: none;
  

  }

  .b2{
    background-color: red;
    width: 220px;
    font-size: 14px;
    display: none;
  }

  .b3{
    font-size: 10;
  
  }

   .b4{
    background-color: red;
    width: 220px;
    font-size: 14px;
    display: none;
  }

  .b1{
    font-size: 10px;
    
  }

  .main{
    height: 1500px;
    width: 350px;
  }

  /* logo */

.img_nav{
  width: 80px;
  height: 50px;
}

.drop_down{
  display: none;
}

.main_content{
  width:330px ;
  height: 900px;
  margin-left:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  
}

.main_head{
  margin-left:20px;
  font-size: 15px;

}

.box{
  background-color:white;
  width: 250px;
  height: 300px;
  margin-top: 20px;
}
.main2{
  width: 330px;
  height: 200px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.box2{
  width: 300px;
  height: 265px;
  border-radius: 15px;
  padding: 10px;


}

.mbtn{
  background-color:none;
  width: 260px;
  position: absolute;
  left: 20px;
  top: 40px;
}

.headerr{
  background-color: none;
}



.box1{
  width: 300px;
  height: 205px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 1px 3px 10px black;
  padding: 10px;


}
.last-text{
  display: none;
}
.notification{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color:white;
  left:80%;
  top: 5%;
  box-shadow: 1px 3px 10px black;
  border-radius: 5px;


}



}
